@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}


@import "./header";
@import "./global.scss";
@import "./vars.scss";
@import "./fonts.scss";
@import "./service.scss";
@import "./features.scss";
@import "./teams.scss";
@import "./clients.scss";
@import "./footer.scss";
@import "./folio.scss";